body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.75rem;
  margin:  5%;
  color: #FEF2BF;
}

span {
  color: green;
}

.container {
  display: block;
  width:75%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 1075px) {

    .btn {
      width: 150px;
      height: 150px;
    }


}

@media (max-width: 600px) {

    .btn {
      width: 100px;
      height: 100px;
    }

    #level-title {
      font-size: 2rem;
    }

    body {
      padding-top: 5%;
    }
}

